* {
    box-sizing: border-box;
}

body{
  background: ghostwhite;
  height: 100vh;
  background-image: url(../maxresdefault.jpg);
  background-size: cover;
}


.x1{
    font-size: 1rem;;
}

.x12{
    font-size: 1.2rem;
}

.x15{
    font-size: 1.5rem;
}

.x2{
    font-size: 2rem;
}

.x25{
    font-size: 2.5rem;
}

.x3{
    font-size: 3rem;
}

/* navbar */

.mnav{
  /* box-shadow: none !important; */
}

.mnav>.container{
  width: 95%;
}

/* navbar */

/* main */
  #home_page .card{
    padding: 0 !important;
  }

/* main */


/* form */

  .sheaders{
    /* color: blue; */
    /* text-shadow: .01rem .01rem .5rem pink; */
  }

  .loginform{
    padding: 2rem;
    border: 1px solid red;
  }

  input{
    display: block;
  }

  .loginForm input{
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem
  }

/* form */
